.nav-link{
    font-family: Impact ;
    font-size: 24px;
    text-transform: uppercase;
    margin-right: 30px;
}
.nav-link:hover{
    color: rgb(182, 215, 243);
}
.jumbotron{
    background-image: url(../gedungfkom2.png);
    background-size: cover;
    height: 500px;
}
@media (main-width: 992px){
    font-family: impact;
    font-size: 24px;
    text-transform: uppercase;
    margin-right: 30px;;
}